{% extends "forms/field.html.twig" %}

{% block contents %}
    <div class="button-bar" style="margin:0;padding:0;text-align:left;background:0;z-index:2;">
        {%- if field.fields -%}
            {% for child in field.fields %}
                {% if authorize(config.plugins['static-generator'].content_permissions) %}
                    <a class="button {{ child.class }}" href="{{ child.url }}" {% if child.disabled %}disabled="disabled"{% endif %}>{{ child.name|t }}</a>
                {% endif %}
            {% endfor %}
        {%- endif -%}
    </div>
{% endblock %}
